<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <a href="/">
        <button class="btn btn-left" type="button"><span>← HomePage</span></button>
    </a>
    <h1>About Us</h1>
    <div class = "content-box">
        <p>SluggySkills is a website meant to connect students all over Santa Cruz who are united in their shared goal of acquiring new skills or learning something new. 
            Every user of SluggySkills has a profile picture and biography so other users can learn more about them.
             You can filter students based on the type of their hobby/skill such as outdoor sports or indoor activities. 
             Users can use others' profile information to decide if they want to connect with them via chat. 
             If a user reads about another user that knows how to play the guitar, they can text each other and set up lessons or coffee chats. 
             Alternatively, you can even connect with students on different academic journeys than yourself. 
             Seek advise from masters or PhD students by the click of a button! The opportunities are endless! 
            At its heart, SluggySkills aims to unite the entire student community of Santa Cruz on one platform. Visit SluggySkills today.</p> <br>
        <img src="{% static 'images/GenSlug.png' %}" alt="SluggySkills Logo" class="logo" style = "width: 175px;">
        <p>&copy; 2025 SluggySkills. All rights reserved.</p>
    </div>
    
</body>
</html>