<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SluggySkills</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <h1>Welcome to SluggySkills</h1>
    <div class = "content-box">
        <p>Where Slugs can teach and learn new skills, hobbies, or interests!</p> <br>
        
    <p>Find fellow slugs to share skills with and learn a new skill for yourself!</p> <br>
    

    
    <p>See your fellow slugs!</p> <br>
    <a href="/search">
      <button class="btn" type="button">
        <span>Let's do this!</span>
      </button>
    </a>
    <br>

    Check out our <a href="/about">About</a> page to learn about us!
    </div>
    
</body>
</html>