<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SlugsShareSkills</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to SlugsShareSkills</h1>
    <p>Where Slugs can teach and learn new skills, hobbies, or interests!</p>

    Find fellow slugs to share skills with! Or maybe even learn a new skill yourself!
    <p>Check out our <a href="/search">Search</a> page to find slugs!</p>

    Check out our <a href="/about">About</a> page to learn about us!
    
</body>
</html>