<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SluggySkills Search</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <a href="/">
        <button class="btn btn-left" type="button"><span>← HomePage</span></button>
    </a>
    <h1>Look at our Slugs</h1>

    <form method="get" style="margin-bottom: 2em;">
        <label for="type" class="dropdown">Filter by Type:</label>
        <select name="type" id="type" class="styledselect" onchange="this.form.submit()">
            <option value="">All Types</option>
            {% for type in types %}
                <option value="{{ type }}" {% if type == selected_type %}selected{% endif %}>{{ type }}</option>
            {% endfor %}
        </select>

        <label for="attendance" class="dropdown" style="margin-left:2em;">Filter by Attendance:</label>
        <select name="attendance" id="attendance" class="styledselect" onchange="this.form.submit()">
            <option value="">All Attendance</option>
            {% for attend in attendances %}
                <option value="{{ attend }}" {% if att == selected_attendance %}selected{% endif %}>{{ att }}</option>
            {% endfor %}
        </select>

        {% if selected_type or selected_attendance %}
            <a href='/search' class="filterclean">Clear Filter</a>
        {% endif %}
    </form>

    

    <div class="card-container">
        {% for user in users %}
        <div class = "card">
            <div class="card-header">
                <h3>Hi, I am</h3>
                <h2>{{ user.Name }}</h2>
            </div>
            <div class="card-body">
                <img src="{% static 'profile_pics/' %}{{ user.profile_pic }}" alt="Profile Picture" class="profile-img">
                <p><strong>Current Skills:</strong>
                    {% for skill in user.Current_Skills%}
                        {{ skill }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><strong>Wanted Skills:</strong>
                    {% for skill in user.Wanted_skills%}
                        {{ skill }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><strong>Age:</strong> {{ user.Age }}</p>
                <p><strong>College:</strong> {{ user.College }}</p>
                <p><strong>Attendance:</strong> {{ user.Attendance }}</p>
                <p><strong>Bio:</strong> {{ user.Biography }} </p>
                <p><a href="/chatpage/{{ user.slug }} ? name={{ user.Name|urlencode }}&pic={{ user.profile_pic }}">
                    <button class="btn" type="contact">
                        <span>Let's Chat!</span>
                    </button>
                </a></p>
            </div>
        </div>
        {% endfor %}
    </div>

    Take me back to the<a href="/"> homepage </a> please!
</body>
</html>